.header {
  margin-bottom: 20px;
  font: var(--font-m);

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.container {
  max-width: 200px;
}
