.flex-box {
  display: flex;
}

// justify
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

// align
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

// directions
.row {
  flex-direction: row;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.column {
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}
