.AppLink {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: 100%;
    left: 4px;

    display: block;

    width: 92%;
    height: 2px;

    opacity: 0;

    transition: opacity 150ms linear;
  }

  &:hover::after {
    opacity: 1;
  }
}

.primary {
  color: var(--primary-color);

  &::after {
    background: var(--primary-color);
  }
}

.secondary {
  color: var(--secondary-color);

  &::after {
    background: var(--secondary-color);
  }
}
